@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Create</h1>
</div>

<div class="card">

    <div class="card shadow-sm text-center" style="width:252px">
        <div class="card-body">
            <form asp-controller="Home" asp-action="SaveUser" method="POST">
                <hr />
                <div class="form-floating mb-3">
                    <input name="txtName" type="text" class="form-control" id="floatingInput" placeholder="Name" required>
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="txtEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="txtPhone" type="text" class="form-control" id="floatingInput" placeholder="Phone" required>
                    <label for="floatingInput">Phone</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="txtAddress" type="text" class="form-control" id="floatingInput" placeholder="Address" required>
                    <label for="floatingInput">Address</label>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary">Create User</button>
                <hr />
            </form>

            <div class="text-center">
                <form asp-action="Index" asp-controller="Home">
                    <button class="btn btn-success" type="submit">Home</button>
                </form>
            </div>

        </div>
    </div>
    <br />
</div>

